<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--	<bean id="userService" class="com.kinight.xxl.UserServiceImpl"></bean>-->

	<bean id="componentA" class="com.kinight.xxl.ComponentA"></bean>
	<bean id="componentB" class="com.kinight.xxl.ComponentB"></bean>

</beans>